@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Signika+Negative:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    font-weight: 400;
}
/* Handle */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
html{
    scroll-behavior: smooth;
}
.container{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rajdhani", sans-serif;;
}
.card{
    background-color: #222;
    color: white;
    padding: 1rem;
    min-height: 90vh;
    scrollbar-width: 0;
    width: 50%;
    height: 50%;
    overflow: scroll;
    scrollbar-color: #111;
    border-radius: 0.5rem;
}
.card-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem ;
}

input{
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    font-weight: 600;
    width: 80%;
    font-family: "Rajdhani", sans-serif;;
}
.btn{
    font-family: "Rajdhani", sans-serif;;
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    background-color: orange;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    width: 13%;
    font-weight: 600;
}
.btn:hover{
    background-color: white;
    color: black;
}
.deBtn{
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    background-color: orange;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.deBtn:hover{
    background-color: white;
    color: black;
}

.li-style{
    font-family: "Signika Negative";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin: 1rem 0;
}


.li-style > span:first-child {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
   */
  .flex-container button {
    margin-left: 10px;
  }

.li-style:hover{
    transition: all 0.3s;
    background-color: #111;
}

.bg_success{
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: black;
    background-color: #ddffdd;
    border-left: 6px solid #04aa6d;
    border-radius: 0.4rem;
}
.bg_danger{
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: black;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    border-radius: 0.4rem;
}

@media screen and (max-width: 600px) {
    .card{
        margin: 7px;
        width: 100%;
    }
    .btn{
        width: 15%;

        font-size: 0.6rem;
        padding-right: 1px;
        padding-left: 1px;
    }
    .li-style>span:last-child{
        display: flex;
        
    }
}